body {
    background-color: #232323;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    
}

/* character container */

#character-con {
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 100;
  }

/* Poster Animations and sizeing things */

.movie-details {
    margin: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-details img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .movie-details img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(0, 0, 0, 0.8);
  }
  


.hidden {
    display: none;
}

h1 {
    font-size: 36px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    font-size: 18px;
}

ul li:hover{
   cursor: pointer;
   color: rgb(255, 230, 0);
   border: rgb(255, 230, 0) solid 2px;
}

ul li {
    margin-bottom: 5px;
    border: #fff solid 2px;
    padding: 10px;
}

@media screen and (max-width: 850px) {
  ul li a {font-size: 12px;}
}

@media  screen and (min-width: 1200px) {
    ul li a {font-size: 24px;}
    h1 {font-size: 52px;}
}

